html, body{
    margin: 0;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
}

main{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/backgroundscreen.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.bigtext {
    display: flex;
    justify-content: center;
    align-items: center;
}