html, body{
    margin: 0;
}


.height{
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.door-screen1{
    background-color: aqua;
}

.door-screen2{
    background-color: red;
}

.door-screen3{
    background-color: green;
}