html, body{
    margin: 0;
}

.door-container{
    display: flex;
    flex-direction: column;
}

.height{
    height: 100vh;
    width: 500px;
}

.door-screen1{
    background-color: aqua;
}

.door-screen2{
    background-color: red;
}

.door-screen3{
    background-color: green;
}